/////////////////////  NOT IN USE   /////// ////////////////////////////
/////////////////////
///////
///////
///////

//////////////

<div class="subheader">
  {% comment %}
    IE8 and IE9 don't support the HTML5 placeholder attribute, so it's a good idea to use JavaScript
    to show and hide the placeholder text.
    Have a look in assets/shop.js.liquid to see sample JavaScript for this.
  {% endcomment %}      

  <form action="/search" method="get" class="search-form right" role="search">
    <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
    <input type="submit" id="search-submit" value="Search" />
  </form>

    <div class="half column right-aligned">
            
      <div class="cart-link">
        <a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" /> {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a>
      </div>
          
      {% if shop.customer_accounts_enabled %}
      <div class="customer-links">
        {% if customer %}
          Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
        {% else %}
          {{ 'Log in' | customer_login_link }}
          {% if shop.customer_accounts_optional %}
          or {{ 'Create an account' | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
      {% endif %}
    </div>
</div>